* {
  box-sizing: border-box;
}
a {
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Outfit", sans-serif;
}
.header-info,
main {
  margin: 24px;
}
.title {
  font-family: "Young Serif", serif;
  font-size: 2.25rem;
  color: #312e2c;
}
.text {
  color: #5f564d;
}
.bold {
  font-weight: 700;
  color: #5f564d;
}
.subtitle {
  font-family: "Young Serif", serif;
  font-size: 1.75rem;
  color: #854632;
}
.small-subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  color: #7a284e;
}
.preparation-list {
  width: 19.4375rem;
  height: 12.25rem;
  background-color: #fff7fb;
  border-radius: 12px;
  padding: 8px 16px;
  margin-inline: auto;
}
@media screen and (width >= 768px) {
 .preparation-list {
  display:inline-block;
  width: 656px;
  height: 180px;
 }
}
.preparation {
  padding-left: 16px;
}
.ingredients {
  padding-left: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid  #E3DDD7 ;
}
.instructions {
  padding-left: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid  #E3DDD7 ;
}
.list-item {
  margin-bottom: 16px;
}
.ingredients ::marker{
  color: #7a284e;
}
.preparation ::marker{
  color: #7a284e;
}
.instructions ::marker{
  color: #7a284e;
}
.nutrition{
  list-style: none;
  padding-left: 16px;
}
.nutrition-calories{
  color: #312e2c;
  margin-right: 16px;
  padding-bottom:  8px;
  border-bottom: 2px solid  #E3DDD7 ;
}
.nutrition-carbs{
  color: #312e2c;
  margin-right: 16px;
  padding: 8px;
  border-bottom: 2px solid  #E3DDD7 ;
}
.nutrition-protein{
  color: #312e2c;
  margin-right: 16px;
  padding: 8px;
  border-bottom: 2px solid  #E3DDD7 ;
}
.nutrition-fat{
  color: #312e2c;
  padding: 8px;
  margin-right: 16px;
}
.nutrition-value{
  color: #7a284e;
  font-weight: 700;
  padding-left: 48px;
}